body {
    padding: 50px;
    background-color: #ff8000;
    color: #008080;
    /* カラーで文字の色が変わる。バックグラウンドカラーでは背景が変わる */
    /* rgbはred.blue.greenの三つの色の頭文字*/
}

p {
    font-weight: bold;
    font-size: 100px;
    font-family:serif;
    border: dotted #008080 ;
    margin: 30px;

}
/* .はclassに対しての値になる */
.starter-template {
    padding: 40px 50px;
    background-color: white;
}

